@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input {
    @apply border-b-2 border-solid border-black;
  }

  input[type="submit"] {
    @apply cursor-pointer;
  }

  input::placeholder {
    @apply text-blue-900;
  }

  input:focus {
    @apply outline-transparent;
  }
}

@layer components {
  .btn {
    @apply rounded-full px-4 py-1 border-2 border-red-400 transition ease-out duration-200;
  }

  .btn-solid {
    @apply bg-red-400 text-white;
  }

  .btn-outline {
    @apply bg-white text-red-400;
  }

  .sidebar {
    @apply bg-blue-900 text-white fixed z-10 h-full w-1/4 max-w-xs overflow-hidden rounded-r-lg flex flex-col;
  }

  .nav-item {
    @apply px-3 py-4;
  }

  .nav-item:hover {
    @apply bg-blue-1000 scale-105;
  }

  .content-container {
    @apply text-center;
    margin-left: min(25%, 320px);
  }

  .wheel-wrapper {
    @apply mt-8;
    position: relative;
  }

  .wheel {
    @apply relative bg-yellow-200 rounded-full overflow-hidden border-4 border-solid border-yellow-200;
    margin-inline: auto;
    height: 350px;
    width: 350px;
    transition: transform 2s ease-out;
  }

  .wheel div {
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    position: absolute;
    transform-origin: bottom;
    left: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* writing-mode: vertical-rl; */
    cursor: pointer;
  }

  .option-input {
    transform: rotate(90deg);
    text-align: center;
    background-color: transparent;
    border: none;
  }

  .wheel div:nth-child(2n) {
    @apply bg-white;
  }

  .wheel-pin {
    @apply bg-yellow-400 rounded-full;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wheel-stopper {
    @apply bg-red-400;
    height: 50px;
    width: 40px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    top: -5%;
    left: 50%;
    transform: translate(-50%);
  }

  .rotate {
    animation: start-rotate 1s linear infinite;
  }

  @keyframes start-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
